@import '../helpers/_mixins.scss';
@import '../helpers/_variables.scss';

.custom__input {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .label {
    font-size: 14px;
    font-weight: bold;
    color: $four-color;
    opacity: 0.89;
    margin-bottom: 0;
  }

  .ant-input {
    font-size: 1rem;
    line-height: 1rem;
    height: 44px;
    color: #1F1816;
    padding: 0;
    border: none;
    border-bottom: 1px solid #B7B7B7;
    border-radius: 0;
    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }
    &::placeholder {
      color: #CFCFCF;
    }
    &:-webkit-autofill::first-line,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      font-family: $font-family-sans-serif;
      font-size: 1rem;
      font-weight: normal;
    }
  }
}

.login-custom__input.ant-input,
.login-custom__input.ant-input-password .ant-input {
  height: 50px;
  font-size: 14px;
  color: $text-color;
  padding: 15px 25px 16px 20px;
  border-radius: 4px;

  &::placeholder {
    color: #78778B;
  }
}

.block-field {
  label {
    display: block;
    margin-bottom: 7px;
    font-weight: 400;
  }
  .ant-calendar-picker,
  .ant-select {
    width: 100%;
  }

  .checkbox-animated {
    position: relative;
    display: inline-block;
    &_checkbox {
      display: inline-block;
      margin-bottom: 0;
    }
  }
}

.ant-select .ant-select-selection--multiple .ant-select-selection__choice__remove {
  bottom: 0 !important;
}

.checkbox-animated {
  transition: all 0.4s ease-in-out;
  &_checkbox {
    &:hover, &:focus-visible {
      outline: none;
    }

    .ant-checkbox-input[type="checkbox"] {
      position: relative;
      appearance: none;
      width: 88px;
      height: 22px;
      background-color: #BFBFBF;
      border-radius: 16px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      opacity: 1;

      &::after {
        content: '';
        position: absolute;
        width: 20%;
        height: 81.81%;
        top: 50%;
        left: 2px;
        transform: translateY(-50%);
        background: $white;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        transition: 0.4s;
      }
    }

    &.checked {
      .ant-checkbox-input[type="checkbox"] {
        background-color: $button-action-blue;
        &::after {
          left: calc((100% - 20%) - 2px); // (100% - roller's width) - 2px
        }
      }
    }

    .ant-checkbox-inner {
      position: absolute;
      top: 0;
      opacity: 0;
      pointer-events: none;
    }
  }

  &_desc {
    position: absolute;
    top: 40%;
    left: 27%;
    transform: translateY(-50%);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: $white;
    width: 100%;
    pointer-events: none;
    z-index: 1;
    transition: all 0.4s ease-in-out;

    &.turn-on {
      left: 10%;
    }
  }

  &.checkbox-animated-large {
    .checkbox-animated_checkbox {
      .ant-checkbox-input[type="checkbox"] {
        width: 105px;
        &::after {
          width: 18%;
        }
      }

      &.checked {
        .ant-checkbox-input[type="checkbox"] {
          &::after {
            left: calc((100% - 18%) - 2px); // (100% - roller's width) - 2px
          }
        }
      }
    }
  }
}

.checkbox-delete {
  .ant-checkbox .ant-checkbox-inner {
    border-color: $button-delete;
  }

  .ant-checkbox-checked {
    &::after {
      border-color: $button-delete;
    }
    .ant-checkbox-inner {
      background-color: $button-delete;
    }
  }
}
