@import '../helpers/_variables.scss';

.edit-button,
.delete-button {
  padding: 2px 8px;
  border-radius: 2px;
  font-weight: 700;
  font-size: 10px;
  color: $white;
  height: auto;
}

.edit-button {
  background-color: $button-action-blue;
}

.delete-button {
  &:has(button:disabled) {
    padding: 0;
  }
  &:has(:not(button:disabled)) {
    background-color: $button-action-red;
  }
}

.save-button,
.cancel-button {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  width: 124.71px;
  padding: 4px;
  height: auto;
  color: $white;
  background-color: $button-action-blue;
}

.cancel-button {
  color: $text-color;
  background-color: $button-action-grey-2;
}
