@import "../helpers/variables";

@for $i from 2 through 7 {
  .text-ellipsis,
  .text-ellipsis-clamp#{$i} {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-break: break-all;
  }

  .text-ellipsis-clamp#{$i} {
    -webkit-line-clamp: #{$i};
  }
}

.break-all {
  word-break: break-all;
}

.text-red {
  color: $red-error !important;
}
